@page {
    size: A4;
    margin: 0;
}
@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    body {
        margin: 0;
    }

    .a4 {
        width: 210mm;
        height: 297mm;
        page-break-after: always;
    }
}

#DM_BODY {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--light);
}
#DM_DIV_PolygonContainer {
    width: 210mm;
    height: 297mm;
    min-width: 210mm;
    min-height: 297mm;
    padding: 2.5mm;
    box-sizing: border-box;
    background-color: white;

    display: flex;
    flex-direction: column;
}
#DM_DIV_Title {
    margin: 2.5mm;
    padding: 2.5mm;
    border-radius: 2.5mm;
    background-color: var(--light);

    display: flex;
    justify-content: space-between;
    align-items: center;

}
#DM_H_Title {
    margin-top: 0;
    margin-bottom: 0;
}
#DM_DIV_Map {
    width: 200mm;
    height: 125mm;
    margin: 2.5mm;
    border-radius: 2.5mm;
}
#DM_DIV_Addresses, #DM_DIV_NotVisit {
    margin: 2.5mm;
    padding: 2.5mm;
    border-radius: 2.5mm;
    background-color: var(--light);
}
#DM_H_Addresses, #DM_H_NotVisit {
    margin-top: 0;
    margin-bottom: 1mm;
}
#DM_UL_Addresses {
    margin: 0;
    padding-left: 6mm;
    font-size: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 10mm;
    align-items: start;
}
.DM_LI {
    margin-top: .5mm;
    margin-bottom: .5mm;
}
#DM_UL_NotVisit {
    margin: 0;
    padding-left: 6mm;
    font-size: 1rem;
}
#DM_DIV_QRContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#DM_DIV_QR {
    width: 35mm;
    height: 35mm;
    margin: 2.5mm;
    padding: 2.5mm;
    border-radius: 2.5mm;
    background-color: var(--light);


    display: flex;
    justify-content: center;
    align-items: center;
}